*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    align-items: center;
}
.container{
    /* background-color: pink; */
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h2{
    padding-bottom: 30px;
    font-size: 34px;
}
.input-feild{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 30px 30px;
    border-radius: 50px;
}
i{
    font-size: 29px;
    cursor: pointer;
    transition: all 0.2s linear;
}
i:active{
    color: grey;
}
.input{
    width: 90%;
    background-color: transparent;
    outline: 0;
    border: 0;
    font-size: 20px;
    letter-spacing: 2px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}